# Use conda install ... to install these
matplotlib
Pillow>=4.2.1
graphviz # for graphviz, installation via the system might be required, e.g. sudo apt-get install graphviz
pytest
protobuf

# Use pip install ... to install these
tensorflow==1.15.4
# tensorflow-gpu == 1.15.4 # Alternatively if available to run vastly faster trainings. See https://github.com/philferriere/dlwin
h5py
scikit-learn
scikit-image
scipy
sympy
muscima >= 0.10.0
numpy==1.16.2
lxml
pydot
tqdm
opencv-python
omrdatasettools==1.3.1